:root {
  --white: #ffffff;
  --blue: #0071bc;
  --black: #1b2234;
  --green: #8ec503;
  --grey: #697982;
}

#head-logo {
  color: var(--blue);
  font-weight: 500;
  font-size: 1.5rem;
}

#head-logo:hover {
  color: var(--green);
}
.nav-list {
  list-style-type: none;
}
.nav-list .nav-item a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--blue);
  font-weight: 500;

}

.nav-list .nav-item a:hover {
  color: var(--green);
}

input#toggle {
  display: none;
}

/* Main Page Section */
 .contact h3 {
  color: var(--blue);
 }
 .contact p a {
  text-decoration: none;
  color: var(--blue);
 }
 .contact p a:hover {
  color: var(--green);
 }

 /* About Page */

 .doctor h2 {
  color: var(--green);
  margin-bottom: 2rem;
 }

 /* Services Page */

 section.services h2, h3 {
  color: var(--blue);
 }

 section.services h3 a {
  text-decoration: none;
 }
 section.services h3 a:hover {
  color: var(--green);
 }

 /* Insurances Page */

 section.insurances h2 {
  color: var(--blue);
 }
 section.insurances h3 {
  color: var(--green);
 }

@media all and (max-width: 768px) {
 .nav-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-color: var(--white);
    border-radius: 3px;
    margin-top: 1rem;
    padding: 5rem 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    transform: translateY(-200%);
    transition: 0.3s;
    z-index: 1;
  }

  .navbar-toggler {
    display: grid !important;
  }

  .navbar-toggler {
    display: none;
    height: min-content;
    margin: 1rem 1.5rem 0 0;
    cursor: pointer;
  }

  .navbar-toggler .bar {
    width: 40px;
    height: 5px;
    margin-bottom: .5rem;
    background: var(--blue);
    border-radius: 1rem;
    transition: .4s;
  }

  input:checked~.nav-list {
    transform: translateY(0);
  }

  input:checked~.nav-list {
    transform: translateY(0);
  }

  input:checked~.navbar-toggler {
    margin-top: 35px;
  }

  input:checked~.navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }

  input:checked~.navbar-toggler .bar:nth-child(2) {
    display: none;
  }

  input:checked~.navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
  /* Contact and Map */
  .map iframe {
    padding: 1rem;
    width: 300px;
    height: 300px;
  }
}